<style>
body {
    background-image: url("https://raw.githubusercontent.com/corear/CommitMatch/aad29a236902ae6403f0afd8d2268691fe9b6238/bg1.jpg");
    background-color: #ff4d4d;
}
</style>

<div style="position:absolute; top: -15px; left:50%; margin-left:-270px; background-color:#fff; border-radius:15px; height:165px; width:540px;"></div>
<img src="https://raw.githubusercontent.com/corear/CommitMatch/master/app/assets/images/FullLogo512.png" style="position:absolute; top: -160px; left:50%; margin-left:-256px;">
<a class="basicButton" style="background-color:#f2f2f2; color: #ff4d4d; position: fixed; left: 100%; margin-left: -200px; width: 130px; top: 10px;text-align:center; " href="/sign_in">LOG IN</a>
<a class="basicButton" style="background-color:#f2f2f2; color: #ff4d4d; position: fixed; left: 100%; margin-left: -400px; width: 130px; top: 10px;text-align:center; " href="/sign_up">SIGN UP</a>

<script>document.title="CommitMatch | Dating with a purpose."</script>